{% extends 'cafe_app/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">About Pratik's Cafe</h1>
    <p class="lead text-center">Pratik's Cafe is dedicated to providing an exceptional coffee experience. Our mission is to serve high-quality coffee and snacks with a smile. We believe in creating a welcoming environment where everyone feels at home.</p>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="/media/pexels-anthony-leong-2092897.jpg" class="img-fluid rounded" alt="Cafe Interior">
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Meet the passionate team behind Pratik's Cafe. Our baristas are skilled in crafting the perfect cup of coffee, and our staff is always ready to welcome you with a smile.</p>
        </div>
    </div>
</div>
{% endblock %}
